<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vynody.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2.7.3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
				<key>dateExpires</key>
				<string>2027/5/3</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyBeaver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio_core.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>bonsoir_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>dart_smb2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>file_selector_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_taglib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_taglib_native.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>in_app_purchase_storekit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libsmb2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>6.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>mobile_storage_listener.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>on_audio_query_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>pasteboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>proxy_getter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqlite3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>33ABF4309F6DE2D891426717C66D8FCB0DF12AF7</string>
						<key>dateExpires</key>
						<string>2027/5/3</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>45Y8488J5N</string>
						<key>name</key>
						<string>Youzhen Wang</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>45Y8488J5N.app.vynody.player</string>
				<key>com.apple.developer.team-identifier</key>
				<string>45Y8488J5N</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>436266ec-ce26-4428-87c2-6ac3c9a48313</string>
				<key>dateExpires</key>
				<string>2027/9/19</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: app.vynody.player</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>45Y8488J5N</string>
				<key>name</key>
				<string>Youzhen Wang</string>
			</dict>
			<key>versionNumber</key>
			<string>2.7.3</string>
		</dict>
	</array>
</dict>
</plist>
